<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Qus 8</title>
    <style>
        .odd{
            background-color: red;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>SNo.</th>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <th:block th:each="employee,i:${employees}">
        <tr th:class="${i.even}?'':'odd'">
            <td th:text="${i.index}+1"/>
            <td th:text="${employee.id}"/>
            <td th:text="${employee.name}"/>
        </tr>
    </th:block>
</table>
</body>
</html>